<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <title>Document</title>
</head>

<body>
    <ul id="header">
        <li><a href="{{ url_for('home') }}">Home</a></li>

        <li class="dropdown">
            <a href="">Cadastro </a>
            <ul class="submenu">
                <li><a href="{{ url_for('clientes') }}">clientes</a></li>
                <li><a href="{{ url_for('produtos') }}">produtos</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="">Produtos </a>
            <ul class="submenu">
                <li><a href="{{ url_for('vendas') }}">Venda</a></li>
                <li><a href="">Aluguel</a></li>
            </ul>
        </li>

        <li><a href="">dashboard</a></li>
    </ul>

    <div id="banner">
        <h1>Matheus Decorando</h1>
    </div>

    <div class="container-objetivos">
        <div id="missao">
            <span class="icon">🎯</span>
            <h3>Missão</h3>
            <p>Proporcionar soluções completas em decoração...</p>
        </div>
        <div id="visao">
            <span class="icon">🔮</span>
            <h3>Visão</h3>
            <p>Ser a empresa de referência em decoração...</p>
        </div>
        <div id="valores">
            <span class="icon">💎</span>
            <h3>Valores</h3>
            <p>Criatividade, qualidade e comprometimento...</p>
        </div>
    </div>

    <div id="secao-depoimentos">

        <h1>Depoimentos</h1>
        <div id="depoimentos-container">
            <div> fulana de tal </div>
            <div>beotrana de tal</div>
            <div>ciclana de tal</div>

        </div>
    </div>

    <div id="secao-contato">
        <h1>Pronto para transformar seu evento?</h1>
        <p>Entre em contato conosco e faça seu orçamento</p>
        <button id="btn-contato">📄 Começar Agora</button>
    </div>
</body>

</html>