<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='produtos.css') }}">
    <title>Document</title>
</head>

<body>
    <div id="header">
        <li><a href="{{ url_for('home') }}">Home</a></li>

        <li class="dropdown">
            <a href="">Cadastro </a>
            <ul class="submenu">
                <li><a href="{{ url_for('clientes') }}">clientes</a></li>
                <li><a href="{{ url_for('produtos') }}">produtos</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="">Produtos </a>
            <ul class="submenu">
                <li><a href="">Venda</a></li>
                <li><a href="">Aluguel</a></li>
            </ul>
        </li>

        <li><a href="">dashboard</a></li>

    </div>
 <form action="/salvar_produtos" method="POST">
        
        
        <div class="container-cadastro">
    <h2>Cadastro de Produto</h2>

    <form action="/salvar_produtos" method="POST" class="form-vertical">
        
        <div class="campo">
            <label>Nome do produto:</label>
            <input type="text" name="nome_produto" placeholder="Digite o nome do produto..." required>
        </div>

        <div class="campo">
            <label>Código de barras:</label>
            <input type="text" name="codigo_barras" placeholder="Digite o código de barras..." required>
        </div>

        <div class="campo">
            <label>Quantidade:</label>
            <input type="number" name="quantidade" placeholder="Digite a quantidade" required>
        </div>

        <div class="campo">
            <label>Nota fiscal:</label>
            <input type="text" name="nota_fiscal" placeholder="Número da nota fiscal..." required>
        </div>

        <div class="campo">
            <label>RG do Responsável:</label>
            <input type="text" name="rg_cliente" placeholder="00.000.000-0" required>
        </div>

        <div class="form-action">
            <button type="submit" class="btn-enviar">Cadastrar Produto</button>
        </div>
    </form>
</div>
    </form>


<script src="{{ url_for('static', filename='') }}"></script>
</body>

</html>