<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='produtos.css') }}">
    <title>Document</title>
</head>

<body>
    <div id="header">
        <li><a href="{{ url_for('home') }}">Home</a></li>

        <li class="dropdown">
            <a href="">Cadastro </a>
            <ul class="submenu">
                <li><a href="{{ url_for('clientes') }}">clientes</a></li>
                <li><a href="{{ url_for('produtos') }}">produtos</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="">Produtos </a>
            <ul class="submenu">
                <li><a href="{{ url_for('vendas') }}">Venda</a></li>
                <li><a href="">Aluguel</a></li>
            </ul>
        </li>

        <li><a href="">dashboard</a></li>

    </div>
 
<script src="{{ url_for('static', filename='produtos.js') }}"></script>
</body>

</html>